<!DOCTYPE html>
<html lang="en">

<head>
    {% include "components/header.html" %}
    <link lang='sass' rel="stylesheet" href="static/styles/timeline.css">
</head>

<body>
<!-- Navbar -->
{{ nav.navigation.render(renderer='navbar') }}

<div class="timeline_column">

    <div class="timeline_form">
        <!-- Form to create post -->
        <form id="post_form">
            <div class="form_item">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <div class="form_item">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="form_item">
                <label for="content" style="display: none;">Post:</label>
                <textarea id="content" name="content"></textarea>
            </div>
            <div class="form_item">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    {% for post in posts %}
        <div class="timeline_post">
            <h3 class="post_name">{{ post['name'] }}</h3>
            <p class="post_content">{{ post['content'] }}</p>
        </div>
    {% else %}
        <p>No posts to display</p>
    {% endfor %}
</div>

<script type="text/javascript">
    const form = document.getElementById('post_form');

    form.addEventListener('submit', (event) => {
        // Prevent default submit event
        event.preventDefault();

        const options = {
            method: 'POST',
            body: new FormData(form)
        };
        // Send post request and reload the page
        fetch("{{ url_for('post_post') }}", options)
            .then(response => {
                response.json();
                location.reload();
            });
    });
</script>
</body>
</html>